.header
{
    width: 100%;
    height: 6vh;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    display: grid; /* Corrected from 'gird' to 'grid' */
    grid-template-columns: 5% 45% 30% 15% 5%;
    position: relative; /* Changed from 'absolute' to 'fixed' */
    top: 0;
    left: 0;
    background-color: white; /* Added to avoid content underneath showing through */
    z-index: 1000; /* Added to ensure the header is above other content */
}

.logo
{
    width: 18%;
}

#mobile_menu
{
    display: none;
}

.header_title
{
    width: 100%;
    height: 100%;
    grid-column-start: 2;
    cursor: pointer;
}

.contact
{
    width: 100%;
    height: 100%;
    grid-column-start: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact_button
{
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    background-color: #2A1B12;
    color: white;
    border: none;
    border-radius: 0.5rem;
    transition: transform 0.3s ease;
}


.header_h1
{
    color: #2A1B12;
    font-weight: bold;
}

.header_h3
{
    color: #2B1B12;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.header_h3:hover {
    transform: scale(1.2); /* Scale up to 1.1 on hover */
}

.contact_button:hover
{
    transform: scale(1.2); /* Scale up to 1.1 on hover */
}


.header_nav
{
    grid-column-start: 3;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}




/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    
    
    .contact
    {
       display: none;
    }

    .header
    {
        width: 100%;
        height: 6vh;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        display: grid; /* Corrected from 'gird' to 'grid' */
        grid-template-columns: 5% 45% 48% 1% 1%;
        position: relative; /* Changed from 'absolute' to 'fixed' */
        top: 0;
        left: 0;
        background-color: white; /* Added to avoid content underneath showing through */
        z-index: 1000; /* Added to ensure the header is above other content */
    }

    
  }

/* Mobile */
@media only screen and (max-width: 767px) {
    /* Your CSS styles for mobile */
    .header
    {
        width: 100vw;
        height: auto;
        display: flex;
        margin-left: 1.1rem;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative; /* Changed from 'absolute' to 'fixed' */
        background-color: white; /* Added to avoid content underneath showing through */
        z-index: 1000; /* Added to ensure the header is above other content */
    }

    .contact
    {
       display: none;
    }

    .header_nav
    {
        display: none;
    }

    #mobile_menu
    {
        display: block;
    }

    .logo
    {
        width: 22%;
    }


   
 }