.objectives
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}


.margin_bottom_zero
{
  margin-bottom: 0;
}


.departments_layout
{
    display: flex;
    width: 100%;
    height: auto;
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
   
}



.container {  
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    height: 60vh;
    width: 100vw;
    overflow: hidden;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 2% 2%;
    grid-auto-flow: row;
  }
  
  .Something-Else-Image 
  { 
    grid-column-start: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .Something-else-Text 
  { 
    grid-column-start: 2;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .something_Image
  {
    max-width: 52%;
    height: auto;
    border-radius: 2.2rem;
  }
  
  .something_p
  {
    width: 75%;
  }

  .highlights
  {
    width: 55%;
    height: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }


  .hero
  {
    margin-top: 1.1rem;
    margin-bottom: 1.1rem;
    width: 100vw;
    height: 68vh;
    display: grid;
    z-index: 1;
    grid-template-columns: 10% 45% 45%;
    grid-template-rows: 100%;
  }

  .hero_text
  {
    grid-column-start: 2;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }

  .hero_title
  {
    font-size: 3.2rem;
    margin: 0;
  }

  .hero_image
  {
    grid-column-start: 3;
    width: 100%;
    height: 100%;
    background-size: 88%;
    background-position: center right;
    background-repeat: no-repeat;
    transition: background-image 1s ease-in-out;
  }
  

  .hero_contact
  {
    width: 100vw;
    height: 4.2rem;
    z-index: 1000;
    margin-top: -3.4rem;
    margin-bottom: 3.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero_contact_section
  {
    padding-top: 2.2rem;
    padding-bottom: 2.2rem;
    width: 76%;
    height: 86%;
    background-color: #DDC7BB;
    border-radius: 1.2rem;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 25% 25% 25% 15%; 
    grid-template-rows: 100%; 
    gap: 0% 2%; 
    grid-template-areas: 
    "Email Contact whats-app Location"; 
    align-items: center; /* Center items vertically */
    justify-items: center; /* Center items horizontally */
  }

  .Email 
  { 
    grid-area: Email;
    border-radius: 0.4rem;
    width: 92%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    height: 92%;
    background-color: #FBF5F1;
  }
  .Contact 
  { 
    border-radius: 0.4rem;
    width: 92%;
    height: 92%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: #FBF5F1;
    grid-area: Contact; 
  }
  .whats-app 
  { 
    border-radius: 0.4rem;
    width: 92%;
    height: 92%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: #FBF5F1;
    grid-area: whats-app; 
  }
  .Location 
  { 
    grid-area: Location; 
    width: 85%;
    border-radius: 0.4rem;
    height: 92%;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    background-color: #2B1B12;
  }



  .sales
  {
    margin-top: 2.2rem;
    padding-top: 2.2rem;
    padding-bottom: 2.2rem;
    margin-bottom: 2.2rem;
    width: 100vw;
    height: auto;
    display: flex;
    background-color: #FEF7F2;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }


  .sales_grid
  {
    padding-bottom: 2.1rem;
    width: 78%;
    height: auto;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    column-gap: 1%;
  }


  .salesCard1,.salesCard2,.salesCard3
  {
    grid-column-start: 1;
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
    width: 85%;
    height: auto;
    border-radius: 2.2rem;
    background-color: #DDC7BB;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
  }

  .salesCard2
  {
    grid-column-start: 2;
  }

  .salesCard3
  {
    grid-column-start: 3;
  }

  .salesimage
  {
    border-radius: 1.1rem;
    width: 85%;
    height: auto;
    border: none;
    object-fit: cover; /* Options: contain, cover, fill, scale-down, none */
  }

 
  .Contact_us
  {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 45vh;
    padding-top: 1.2rem;
    text-align: center;
    padding-bottom: 1.2rem;
  }


  .contact_us_highlight
  {
    width: auto;
    padding-left: 2.2rem;
    padding-right: 2.2rem;
    color: #543E32;
    font-size: large;
    font-weight: bold;
    height: auto;
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }

  .highlight
  {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-right: 2.2rem;
  }

  .margin_right
  {
    margin-right: 1.2rem;
  }

  .message_box
  {
    width: auto;
    height: auto;
    margin-top: 1.2rem;
    margin-left: 2.2rem;
    margin-right: 2.2rem;
    margin-bottom: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }


  .contact_message {
    width: 22vw;
    color: #543E32;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 2.2rem;
    padding-right: 2.2rem;
    margin-right: 1.2rem;
    border: 1px solid #DDC7BB; /* Ensure border color is defined */
    background-color: #DDC7BB;
    border-radius: 0.4rem;
    outline: none; /* Remove outline */
  }

  .faq
  {
    width: 100%;
    height: auto;
    padding-top: 2.1rem;
    padding-bottom: 2.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .faq_context
  {
    width: 75%;
    height: auto;
  }