.objectives
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}


.departments_layout
{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
   
}



.container {  
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    height: 60vh;
    width: 100vw;
    overflow: hidden;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-auto-flow: row;
  }
  
  .Something-Else-Image 
  { 
    grid-column-start: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .Something-else-Text 
  { 
    grid-column-start: 2;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .something_Image
  {
    max-width: 52%;
    height: auto;
    border-radius: 2.2rem;
  }
  
  .something_p
  {
    width: 75%;
  }

  .highlights
  {
    width: 55%;
    height: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }


  .hero
  {
    margin-top: 2.2rem;
    height: 72vh;
    background-color: #DDC7BB;
    width: 100vw;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 100%;
  }
  
  .hero_text
  {
    grid-column-start: 1;
    width: 100%;
    height: 100%;
    color: #2B1B12;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
   
  }

  .hero_image
  {
    grid-column-start: 2;
    width: 100%;
    height: 100%;
  }