@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

::-webkit-scrollbar {
    width: 0px;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}


html,body
{
    text-overflow: ellipsis;
    background: white;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    overflow-x: hidden;
}

ul {
    list-style-type: none; /* Removes default bullet points */
}

.text_right
{
    text-align: right;
}

.text_left
{
    text-align: right;
}

.text_center
{
    text-align: center;
}

