
.faq
{
  width: 100%;
  height: auto;
  padding-top: 2.1rem;
  padding-bottom: 2.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.faq_context
{
  width: 65%;
  height: auto;
}

.sale_marquee_layout
{
  margin-top: 1.2rem;
  width: 100vw;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  background-color: #DDC7BB;
}

.sale_marquee
{
  margin-left: 1.2rem;
  margin-right: 1.2rem;
}

.sale_highlight_layout
{
  width: 100vw;
  height: 72vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sales_highligh_box
{
  width: 85%;
  height: 92%;
  border-radius: 1.2rem;
  background-color: #FEF7F2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.highlight_points
{
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 1.1rem;
  padding-bottom: 1.1rem;
  height: auto;
}




.container_shop {
  display: grid;
  margin-top: 2.2rem;
  margin-bottom: 2.2rem;
  width: 100vw;
  height: 52vh; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 23% 23% 23% 23%; 
  grid-template-rows: 100%; 
  align-items: center;
  justify-content: center;
  gap: 2% 2%; 
  grid-template-areas: 
    "Product1 Product2 Product3 Product4"; 
}

.Product1 
{ 
  grid-area: Product1; 
  width: 92%;
  height: 100%;
  border-radius: 1.2rem;
  background-color: #DDC7BB;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
.Product2 { 
  grid-area: Product2;
  width: 92%;
  height: 100%;
  border-radius: 1.2rem;
  background-color: #DDC7BB; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
.Product3 
{ 
  grid-area: Product3;
  width: 92%;
  height: 100%;
  border-radius: 1.2rem;
  background-color: #DDC7BB;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
 
}
.Product4 
{ 
  grid-area: Product4;
  width: 92%;
  height: 100%;
  border-radius: 1.2rem;
  background-color: #DDC7BB;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 

}