
.faq
{
  width: 100%;
  height: auto;
  padding-top: 2.1rem;
  padding-bottom: 2.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.faq_context
{
  width: 65%;
  height: auto;
}