.terms
{

    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    margin-left: 7rem;
    margin-top: 2.1rem;
    margin-bottom: 2.1rem;
}